@import "tailwindcss";

@plugin "daisyui";
@import "./theme.css";


@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  font-size: clamp(14pt, 2.5vw, 17pt);
}

.stack {
  @apply grid;
}

.stack * {
  @apply z-10;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

html,
body {
  height: 100%;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}