@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;

  --color-primary: oklch(20% 0.3 200);

}